/*----- UNIVERSAL STYLES -----*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  background: whitesmoke;
  width: 100%;
}


/*----- NAV STYLES -----*/

nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: darkslategray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
  
nav li a {
  display: block;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}
  
nav .title{
  padding-right: 15vw;
  
}

nav .cart{
    padding-left: 15vw;
}

  
.name{
  margin-right: 100px;
}
  
.hover:hover {
  transition: 1s;
  opacity: 40%;
}

/*----- FOOTER STYLES -----*/

footer {
  left: 0; 
  bottom: 0;
  width: 100%;
  text-align: center;
  min-height: 30px;
  padding: 20px;
  text-decoration: none;
}
  
footer .copyright {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-top: 10px;
}
  
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
footer ul li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}
  
footer ul li a {
  color: darkslategray;
}
  
footer ul li a:hover {
  transition: 1s;
  opacity: 40%;
  color: slategrey;
}

.logo a i{
  color: darkslategray;
  font-size: 50px;
  text-align: center;  
  margin: 10px;
  padding: 10px;
}

.copyright {
  font-weight: 500;
  color: darkslategray;
}

/*----- HOME/LANDING STYLES -----*/

.landing{
  background-image: url("./images/heroImage.jpeg");
  width: 100%;
  height: 650px;
  background-size: cover;
  padding-top: 220px;
  opacity: 70%;   
}
  
.headName{
  text-align: center;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 80px;  
}
  
.headDesc{
  text-align: center;
  color: #fff;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  padding: 0px;
}
  
.button{
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: solid 0px #fff;
  border-radius: 7px;
  padding: 12px 30px;
  background: burlywood;
  margin-left: 44vw;
  margin-right: 44vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
  
.button:hover {
  transition: 1s;
  opacity: 50%;
}

/*----- ABOUT STYLES -----*/

.about{
  background-image: url("https://images.pexels.com/photos/6564830/pexels-photo-6564830.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  width: 100%;
  height: 480px;
  background-size: cover;
  margin-top: 20px;
  opacity: 80%; 
  border: 30px solid whitesmoke;
  padding-top: 70px;
}

.about h2 {
  color: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: lighter;
  padding-top: 60px;
  text-align: center;
  font-weight: 400;
  text-shadow: 1px 1px 1px black;
}

.about p {
  color: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  text-shadow: 0.5px 0.5px 0.5px black;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: 400;
}

section a {  
  display: flex;
  align-content: center;
  padding: 5px;
  margin: 10px;
  font-size: 30px;
}

.button2{
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: solid 0px #fff;
  border-radius: 7px;
  padding: 12px 20px;
  background: burlywood;
  width: auto;
}

.button2:hover {
  transition: 1s;
  opacity: 50%;
}

/*----- NEW COLLECTION/SLIDER STYLES -----*/

#slide-container {
  width: 771px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
  margin-top: 50px;
}
#image-container {
  width: 2400px;
  height: 600px;
  position: relative;
  transition: left 2s;
}
#slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
  max-width: 800px;
  max-height: 600px;
  border-radius: 50px;
}
#button-container {
  top: -100px;
  position: relative;
}
#slider-button {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: darkslategray;
  margin-right: 0.5%;
}
#slider-image-1:target~#image-container {
  left: 0px;
}
#slider-image-2:target~#image-container {
  left: -775px;
}
#slider-image-3:target~#image-container {
  left: -1550px;
}
span {
  display: none;
}

/*----- BEST SELLERS STYLES -----*/

.collection {
  font-size: 45px;
  text-align: center;
  color: burlywood;
  padding: 40px;
  font-weight: 700;
}

.bestItems img{
  width: 338px;
  height: auto;
}

.productBack {
  display: none;
}

.bestItems:hover .productFront{
  display: none;
}

.bestItems:hover .productBack{
  display: block;
}

.bestItems p {
  text-align: center;
  margin: 10px;
  font-weight: 500;
  color: darkslategray;
}

.bestItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;

}

.nothingChanges {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.bestItems:hover {
  cursor: pointer;
  opacity: 75%;
  transition: 1s;
}

/*----- EMAIL/SUBSCRIPTION STYLES -----*/

.subscription {
  margin-top: 60px;
  padding: 80px;
  background-color: darkslategray;
  width: 100%;
  text-align: center;
}

.subscription h3 {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  padding: 5px;
}

.subscription p {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 10px 20px 10px;
}

.email input{
  width: 200px;
  height: 52px;
  padding: 10px;
  font-size: 16px;
  margin: 0;
  outline: none;
  resize: none;
}

.submit input[type="submit"] {
  width: auto;
  height: 50px;
  background: burlywood;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  margin: 0;
}

.emailFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/*----- CONTACT STYLES -----*/

.contact {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  align-items: center;
  justify-content: center;
  margin:  50px 100px 50px 100px;
}

.contactInfo {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 8;
  background-color: darkslategray;
}

.form {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 8;
}

.contactInfo {
  width: 100%;
  height: 100%;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  color: darkslategray;
}

.contact .contactInfo .box {
  position: relative;
  padding: 20px ;
  display: flex;
  align-items: center;
}

.box {
  align-items: flex-start;
}
.contact .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.text h3 {
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

.text p {
  color: white;
  margin-left: 10px;
  font-weight: 400;
}

.contactForm {
  width: 100%;
  height: 100%;
  padding: 50px;
  background: #fff;
}

.contactForm h2 {
  font-size: 30px;
  color: darkslategray;
  font-weight: 500;
}

.inputBox label {
  font-weight: 400;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 22px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid darkslategray;
  outline: none;
  resize: none;
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: burlywood;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.contactForm .inputBox input[type="submit"]:hover {
  opacity: 50%;
  background-color: darkslategray;
}

label {
  color: darkslategray;
}

/*----- CART STYLES -----*/

.cartPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 160px 60px 100px 60px;
}

.cartPage h2 {
  margin: 20px;
  color: darkslategray;
  font-size: 60px;
}

.cShopping {
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: solid 0px #fff;
  border-radius: 7px;
  padding: 12px 25px;
  background: burlywood;
  margin: 0px auto 0px auto;
  font-size: medium;
  font-weight: 700;
}

.cartPage a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*----- APPAREL STYLES -----*/

.apparelTitle {
  text-align: center;
  color: darkslategray;
  margin: 10px;
}

.apparelSort {
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.apparelSort label {
  font-weight: 400;
  margin: 10px;
}

.results {
  font-weight: 400;
  color: darkslategray;
  margin: 10px;
}

form input[type="button"]{
  color: white;
  background-color: burlywood;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px darkslategray;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
  flex-wrap:wrap;
}

.rowItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;

}

.rowItems img{
  width: 338px;
  height: auto;
}

.rowItems button {
  padding: 10px 15px;
  color: white;
  background-color: darkslategray;
  font-weight: 800;
  margin-bottom: 10px;
}

.productBack {
  display: none;
}

.rowItems:hover .productFront{
  display: none;
}

.rowItems:hover .productBack{
  display: block;

}

.rowItems:hover {
  cursor: pointer;
  opacity: 75%;
  transition: 1s;
}

.rowItems p {
  text-align: center;
  margin: 10px;
  font-weight: 500;
  color: darkslategray;
}

/*----- MEDIA QUERIES -----*/

@media only screen and (max-width: 730px) {
  nav .title{
    padding-right: 2vw;
  }
  
  nav .cart{
      padding-left: 2vw;
  }

  nav li a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1149px) {
  .button {
    margin-left: 40vw;
    margin-right: 40vw;
  }
}

@media only screen and (max-width: 668px) {
  .button {
    margin-left: 30vw;
    margin-right: 30vw;
  }
}

@media only screen and (max-width: 550px) {
  .headName{
    font-size: 40px;  
  } 
}